*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 50px;
  background-color: #ff9a4b
}
main{
  width: 960px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}
.content{
  width: 300px;
  background-color: #eeeeee;
  padding: 10px;
  position: relative;
}
span{
  background-color: #ff9a4b;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.image1{
  height: 150px;
  background-image: url(img1/flow01.png);
  background-size: cover;
  background-position: bottom center;

}
.image2{
  height: 150px;
  background-image: url(img1/flow02.png);
  background-size: cover;
  background-position: bottom center;
}
.image3{
  height: 150px;
  background-image: url(img1/flow03.png);
  background-size: cover;
  background-position: bottom center;
}
h3{
  margin: 15px 0 5px 0;
  font-size: 16px;
}
p{
  font-size: 12px;
}
footer{
  height: 50px;
  background-color: #aaaaaa;
}
@media screen and (max-width:768px){
  main{
    width: 90%;
    display: block;
  }
  .content{
    width: 100%;
  }
  .content:nth-child(-n+2){
    margin-bottom: 20px;
  }
}