* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top{
  height: 400px;
  background-image: url(img1/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.top h1{
  color: #868282;
  padding: 20px;
}
main{
  width: 840px;
  margin: 20px auto 50px;
}
.content{
  padding: 30px 0;
  border-bottom: 2px solid #f7f7f7;
}
p,a{
  color: #868282;
}